{% extends "generic/object_retrieve.html" %}

{% block content_full_width_page %}
  {% for table_label, table_data in coordinate_tables %}
    <div class="card mb-3">
      <h5 class="card-header">{{ table_label }}</h5>
      <div class="card-body table-responsive">
        {% if table_data %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Group</th>
              <th>Device</th>
              <th>X</th>
              <th>Y</th>
            </tr>
          </thead>
          <tbody>
            {% for row in table_data %}
            <tr>
              <td>{{ row.group }}</td>
              <td>{{ row.device }}</td>
              <td>{{ row.x }}</td>
              <td>{{ row.y }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="text-muted">None</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock content_full_width_page %}
